.s2-grid {
  display: grid;
  grid-template-columns: 200px 1fr;
  width: 100vw;
  height: 100vh;
}

.s2-grid-left-menu {
  background-color: lightgrey;
}

.s2-grid-body {
  background-color: lightcyan;
}

.s2-grid-body-item {
}

.s2-replay-dropzone {
}

.left-menu {
  height: 100%;
}

.replay-upload {
  height: 150px;
}