.s2-grid {
  display: grid;
  grid-template-columns: 200px 1fr;
  width: 100vw;
  height: 100vh;
  padding: 10px 20px;
}

.s2-grid-left-menu {
  align-self: stretch;
  background-color: lightgrey;
}

.s2-grid-body {
  align-self: stretch;
  background-color: lightcyan;
}

.s2-grid-body-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
}

.replay-upload {
  padding-top: 20px;
  width: '80%';
}